fastapi==0.104.1
uvicorn==0.24.0
python-multipart==0.0.6
reportlab==4.0.7
groq==0.4.2
python-dotenv==1.0.0
SQLAlchemy==2.0.45
psycopg2-binary>=2.9
python-jose==3.3.0
passlib==1.7.4
pydantic>=2.0
pdfminer.six>=20221105
spacy>=3.0
https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-3.7.1/en_core_web_sm-3.7.1.tar.gz
argon2-cffi
scikit-learn
sentence_transformers
